@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .btn-dark{
        @apply bg-white font-bold text-xl
        font-serif py-2 px-10 border-2 border-black duration-300  
        tracking-widest md:block hover:bg-black hover:text-white;
    }

    .hambergur{
        @apply relative cursor-pointer w-[24px] h-[16px] transition-all duration-[0.25s];
    }

    .open{
        @apply rotate-90;
    }

    .hambergur-top,
    .hambergur-middle,
    .hambergur-bottom{
        @apply absolute w-[24px] h-[2px] top-0 left-0
        bg-white rotate-0 transition-all duration-500;
    }

    .open .hambergur-top{
        @apply rotate-45 translate-x-[6px] translate-y-[6px];
    }

    .open .hambergur-middle{
        @apply hidden;
    }

    .open .hambergur-bottom{
        @apply rotate-[-45deg] translate-x-[6px] translate-y-[6px];
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#hero{
    background-image: url('./assets/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hambergur-middle{
    transform: translateY(7px);
}
.hambergur-bottom{
    transform: translateY(14px);
}

@media (max-width: 576px){
    #hero{
        background-image: url('./assets//images/mobile/image-hero.jpg');
        background-position: center;
    }
}